
@import "./index.scss";

.containerBlogs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
    width: 100%;
    flex: 1;
    min-height: 100vh;
}

@media screen and (max-width: 730px) {
   .containerBlogs{
    margin-top: 5em;
   }
}