@import "index.scss";

.container {
  background-color: rgb(69, 1, 78);
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;

  .Logo{
    font-size: 2em;
    font-weight: 500;
  }
  ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10vw;
  }
}

@media screen and (max-width: 730px) {

    
    .container {
      height: 8vh;
        .Logo{
            font-size: 1.2em;
          }
        ul{
            width: 35vw;
          }
    }
}
