@import "./index.scss";

.container-login {
  margin-top: 10em;
  min-height: 100vh;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    legend{
        font-size: 2em;
    }
    fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;

        div{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 30vw;
            margin-top: 20px;

            input{
                height: 2.5em;
                padding: 8px;
                border: none;


                &:focus{
                    outline: solid 2px $primary-color;
                }
            }

            
        }

        button{
            margin-top: 15px;
            width: 30vw;
            padding: 10px;
            background-color: $primary-color;
            border: none;
            color: white;
            font-size: 1em;
            border-radius: 5px;
        }
    }
  }
}


@media screen and (max-width: 730px) {
    .container-login {
       
      
        form {
          display: flex;
          flex-direction: column;
          align-items: center;
      
          legend{
              font-size: 2em;
          }
          fieldset {
              display: flex;
              flex-direction: column;
              align-items: center;
              border: none;
              width: 100vw;
      
              div{
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
                  width: 80%;
                  margin-top: 10px;
              }
      
              button{
                  margin-top: 15px;
                  width: 80%;
                  padding: 10px;
                  background-color: $primary-color;
                  border: none;
                  color: white;
                  font-size: 1em;
                  border-radius: 5px;
              }
          }
        }
      }
}